body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.top{
    width: 100%;
    height: 104px;
    gap: 0px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    background: #F4F5F7;
    border-bottom: 1px solid #000000;
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
}
.top-title{
    width: 206px;
    height: 32px;
    top: 36px;
    left: 857px;
    gap: 0px;
    opacity: 0px;
    font-size: 32px;   
    font-weight: 400;
    line-height: 32px; 
    text-align: center;
    justify-content: center;
    margin: 0 auto; 
}


.password{
   width: 392px;
   height: 199px;
   display: flex;
   flex-direction: column;
   justify-content: center;

}

.password label{
    font-size: 15px;
    line-height: 17.9px;
    font-weight: 700;
    color: #000000;
    display: block;
    text-align: left;
    margin-bottom: 5px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin-top: 220px;
}

.edit-password{
    position: absolute;
    top: 30%;
    right: 47%;
}
.container label {
    font-size: 15px;
    line-height: 17.9px;
    font-weight: 700;
    color: #000000;
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.container input[type="password"] {
    font-size: 14px;
    line-height: 16.71px;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
}

.edit {
    width: 468px;
    height: 99px;
    padding: 10px;
    right: 50px;
    bottom: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit button{
    text-align: center;
    display: flex;
    border: none;
    justify-content: center;
    background-color: #ffffff;
    
}
.container button[type="submit"] span{
    width: 355px;
    height: 33px;
    background-color: #7f6aee;
    color: #ffffff;
    font-size: 16px;
    line-height: 33px;
    font-weight: 700;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
}

.edit .helper-text{
    position: absolute;
    top: 30px;
    left: 50px;
}

.helper-text {
    font-size: 12px;
    color: red;
    margin: 0;
    text-align: left;
}

