body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.top{
    width: 100%;
    height: 104px;
    gap: 0px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    background: #F4F5F7;
    border-bottom: 1px solid #000000;
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
}
.top-title{
    width: 206px;
    height: 32px;
    top: 36px;
    left: 857px;
    gap: 0px;
    opacity: 0px;
    font-size: 32px;   
    font-weight: 400;
    line-height: 32px; 
    text-align: center;
    justify-content: center;
    margin: 0 auto; 
}

.post{
    height: 31px; 
    position: absolute;
    top: 15%;  
    left: 46%;
    gap: 0px;
    opacity: 0px;
    font-size: 24px;   
    font-weight: 700;
    line-height: 31.2px; 
    text-align: center;
    margin: 20px 0; 
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 570px;
    margin-top: 100px;
}

.container label {
    font-size: 16px;
    line-height: 20.8px;
    font-weight: 700;
    color: #000000;
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.container input {
    width: 570px;
    padding:10px 0px;
    margin-bottom: 5px;
    border: 1px solid #000000;
    border-radius: 4px;
}

.container button[type="submit"] {
    width: 400px;
    height: 30px;
    font-size: 14px;
    line-height: 16.71px;
    font-weight: 700;
    color: #ffffff;
    background-color: #7f6aee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}


.container button[type="submit"]:hover,
#registerBtn:hover {
    opacity: 0.9;
}

.container textarea{
    width: 100%;
    height: 231px;
    padding: 10px 0px;
    font-size: 15px;
    font-weight: 400;
    line-height: 21.15px;
}

input[type="file"] {
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.71px;
    text-align: center;
}

.helper-text {
    font-size: 12px;
    color: red;
    margin: 0;
    text-align: left;
}