body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.top{
    width: 100%;
    height: 104px;
    gap: 0px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    background: #F4F5F7;
    border-bottom: 1px solid #000000;
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
}
.top-title{
    width: 206px;
    height: 32px;
    top: 36px;
    left: 857px;
    gap: 0px;
    opacity: 0px;
    font-size: 32px;   
    font-weight: 400;
    line-height: 32px; 
    text-align: center;
    justify-content: center;
    margin: 0 auto; 
}
.register{
    position: absolute;
    top: 20%;
    right: 47%;

}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin-top: 150px;
    width: 355px;
}

.container label {
    font-size: 15px;
    line-height: 17.9px;
    font-weight: 700;
    color: #000000;
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #000000;
    border-radius: 4px;
}

.container button[type="submit"],
#registerBtn, #backBtn {
    width: 100%;
    height: 30px;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    background-color: #7f6aee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

#registerBtn {
    background-color: white;
    color: #000000;
    margin-top: 10px;
}

.container button[type="submit"]:hover,
#registerBtn:hover {
    opacity: 0.9;
}




#backBtn {
    font-weight: 400;
    background-color: white;
    color: #000000;
}



.profile-picture-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.profile-label {
    margin-right: 10px;
    text-align: left;
}
.helper-text {
    font-size: 12px;
    color: red;
    margin: 0 0 3px 0; 
    text-align: left;
}


.circle {
    width: 100px;
    height: 100px;
    background-color: #d3d3d3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 10px;
    
}
.circle::before {
    content: "+";
    position: absolute;
    top : 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: 100;
    color: #000000;
}