body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}


.top{
    position: relative; 
    width: 100%;
    height: 104px;
    background: #F4F5F7;
    border-bottom: 1px solid #000000;
}

.top-content {
    max-width: 544px; 
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px;
    box-sizing: border-box;
}

.top-title{
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    flex-grow: 1; 
}



.login{
    position: absolute;
    top: 30%;
    right: 48%;
}
.container-login{
    width: 392px;
    height: 221px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin-top: 220px;
}


.container label {
    font-size: 15px;
    line-height: 17.9px;
    font-weight: 700;
    color: #000000;
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.container input[type="text"],
.container input[type="password"] {
    font-size: 14px;
    line-height: 16.71px;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
}

.container button[type="submit"],
#registerBtn {
    width: 383px;
    height: 37px;
    padding: 10px;
    font-size: 16px;
    line-height: 16.71px;
    font-weight: 700;
    background-color: #ACA0EB;
    color: #ffffff;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    border: none;
    
}

#registerBtn {
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.71px;
}

.helper-text {
    font-size: 12px;
    color: red;
    margin: 0;
    text-align: left;
}

h1{
    font-family: "Black Han Sans", sans-serif;
    font-style: normal;
}